* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7ECF2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* PROFILE */
.profile {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #f1f1f1;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
  color: #1F3349;
}

.tag,
.location {
  margin-bottom: 8px;
  color: #C7CED5;
}
.location:last-child {
  margin-bottom: 25px;
}

.stats {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #F3F6F9;

}

.stats-description {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 24px;
  border-right: 1px solid #E4E9F0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}
.stats-description:last-child {
  border-right: none;
}

.stats-description:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.label {
 font-family: Arial, Helvetica, sans-serif;
 color: #C7CED5;
}

.quantity {
  margin-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #1F3349;
}
.description {
  width: 297px;
  height: 300px;
  background-color: #ffff;
  text-align: center;
}

 /* STATISTICS */

 .statistics {
  text-align: center;
  margin-bottom: 120px;
 }
 .title {
  background-color: #FFFF;
  width: 365px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  color: #1F3349;
 }
 .stat-list {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: getRandomHexColor();
  transition: all 0.3s ease;
 }
 .item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
 }
 .label {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
 }
 .percentage {
  color: #FFFF;
  font-weight: bold;
 }

 /* FRIENDS*/
 .friend-list-online {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 }
 .item-friends {
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: left;
  margin-bottom: 10px;
  background-color: #FFFF;
  width:270px;
  height:70px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
  transition: all 0.3s ease;
 }
 .item-friends:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}
 .status-friends {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-friends {
  margin-right: 10px;
}
.name-friends {
  margin-right: 10px;
}
.isOnline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
}

/* TRANSACTIONS */

.transaction-history {
  width: 80%;
  height: 80%;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.transaction-header {
  background-color: #f5f5f5;
  font-weight: bold;
  border: 1px solid white;
  height: 60px;
}
.transaction-header-types th {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  background-color: #00BCD5;
  color: white;
  font-weight: bold;

}

.transaction-body {
  text-align: center;
}

.transaction-item {
  padding: 20px;
  border: 1px solid grey;
  background-color: #FFFF;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1F3349;
  font-weight: medium;
  font-size: 20px;
  text-align: center;
}
.transaction-item:hover {
  background-color: rgb(219, 210, 210);
  cursor: pointer;
  transition: background-color 500ms;
}